<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-inner">
    <% if (post.banner){ %>
      <%- partial('post/banner') %>
    <% } %>
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <div class="article-meta">
          <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
          <%- partial('post/category') %>
        </div>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link" align="right">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
                <% if (!index && post.toc){ %>
                    <div id="toc" class="toc-article">
                    <strong class="toc-title"><%= __('article.catalogue') %></strong>
    <%- toc(post.content) %>
  </div>
<% } %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <!-- <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('article.share') %></a> -->
      <% if (post.comments && config.disqus_shortname || config.duoshuo_shortname || config.muut_shortname || config.cackle_shortname){ %>
        <a href="<%- post.permalink %>#comments_thread" class="article-comment-link"><%= __('article.comments') %></a>
      <% } %>
      <%- partial('post/tag') %>
      <div style="width: 100%; margin-top: 10px; display: flex; justify-content: space-around; align-items: center;">
        <a href="https://twitter.com/intent/tweet?text=<%- post.title %>&via=<%- theme.twitter %>&url=<%- post.permalink %>" class="fa fa-twitter article-share-twitter" target="_blank" title="Twitter"></a>
        <a href="http://vk.com/share.php?url=<%- post.permalink %>" class="fa fa-vk article-share-vk" target="_blank" title="Вконтакте"></a>
        <a href="http://plus.google.com/share?url=<%- post.permalink %>" class="fa fa-google article-share-google" target="_blank" title="Google+"></a>
        <a href="https://www.facebook.com/sharer.php?u=<%- post.permalink %>" class="fa fa-facebook article-share-facebook" target="_blank" title="Facebook"></a>
        <a href="http://pinterest.com/pin/create/button/?url=<%- post.permalink %>" class="fa fa-pinterest article-share-pinterest" target="_blank" title="Pinterest"></a>
      </div>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="comments_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } else if (!index && post.comments && config.duoshuo_shortname){ %>
  <section id="comments">
    <div id="comments_thread" class="ds-thread" data-thread-key="<%- post.permalink %>" data-title="<%- post.title %>" data-url="<%- post.permalink %>">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by DuoShuo.</a></noscript>
    </div>
  </section>
<% } else if (!index && post.comments && config.muut_shortname){ %>
  <section id="comments">
    <div id="comments_thread">
      <a class="muut" href="/i/<%= config.muut_shortname %>/comments" type="dynamic"><%= config.muut_shortname %></a>
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="//cdn.muut.com/1/moot.ru.min.js"></script>
      <script src="//cdn.muut.com/1/plugin/thumb.js"></script>
    </div>
  </section>
<% } else if (index && config.muut_shortname){ %>
  <div style="display: none;">
    <a class="muut" href="/i/<%= config.muut_shortname %>/comments" type="dynamic"><%= config.muut_shortname %></a>
    <script src="//cdn.muut.com/1/moot.ru.min.js"></script>
  </div>
<% } else if (!index && post.comments && config.cackle_shortname){ %>
  <section id="comments">
    <div id="comments_thread">
      <div id="mc-container"></div>
    </div>
  </section>
<% } %>
