<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- partial('cdn_head') %>
  <%- css('css/style') %>
  <%- css('font-awesome/css/font-awesome.min') %>
  <%- partial('google-analytics') %>
  <%- partial('google_site_verification') %>
  <% if( theme.customstylesheet ){ %>
    <%- css('css/'+theme.customstylesheet) %>
  <% } %>
  <% if( config.muut_shortname ){ %>
    <link rel="stylesheet" href="//cdn.muut.com/1/moot.css" />
    <link rel="stylesheet" href="//cdn.muut.com/1/plugin/thumb.css" />
  <% } %>
  <% if( config.spotim_shortname ){ %>
    <script type="text/javascript">
      !function(t,e,n){
        function a(t){
          var  a=e.createElement("script");a.type="text/javascript" ,a.async=!0,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)
        }
        function o(){
          var t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode
        }
      var p=o();t.spotId="sp_HlCauId2",t.parentElement=p,a(p)
      }
      (window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");
    </script>
  <% } %>
  <% if( config.hypercomments_id ){ %>
    <script type="text/javascript">
      _hcwp = window._hcwp || [];
      _hcwp.push({widget:"Stream", widget_id: <%= config.hypercomments_id %>});
      (function() {
      if("HC_LOAD_INIT" in window)return;
      HC_LOAD_INIT = true;
      var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
      var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
      hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/<%= config.hypercomments_id %>/"+lang+"/widget.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hcc, s.nextSibling);
      })();
    </script>
  <% } %>
  <script src="/js/likely.js"></script>
  <link rel="stylesheet" href="/css/likely.css">

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script>
    jQuery(function() {
      jQuery.scrollDepth();
    });
  </script>
</head>
